* text=auto eol=lf

*.blade.php linguist-language=PHP
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Ignore template backup and public assets from language stats
_backup_template/** linguist-vendored
public/assets/** linguist-vendored
